@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@1,300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration:none;
  

}
.App , #root , body , html {
    width:100%;
    height:100%;
    font-family: 'Source Sans 3', sans-serif;
}

.product {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:70%;
    margin:50px auto;
    border:1px solid rgb(237, 236, 236);
  padding:50px;
    
}

.product-card {
    cursor: pointer;
    width:30%;
    margin:5px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius:5px;
    padding:20px 10px;
    border: 1px solid transparent;
    box-shadow: 0 0  10px rgb(216, 212, 212);
    transition: all .4s;
}
.product-card:hover {
    transform:translateY(-5px);
}
.product-card:hover .product-head img {
    transform:translateY(-10px) scale(1.1);
}
.product-card:hover {
    border: 1px solid orange;
}
.product-head img {
    width:150px;
    height:150px;
    transition:all .5s;
}
.product-footer {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.amount-count {
    font-size: 2em;
}
.name-text {
    font-size:15px;
}
.brand-text {
    font-size: 12px;
    color:rgb(81, 79, 79);
}
.price-text {
    color:rgb(250, 162, 0);
    font-size: 21px;
}
.add-basket-btn {
    cursor:pointer;
    margin: 10px 5px;
    padding:7px 45px;
    background-color:transparent;
    border:none;
    border:1px solid rgb(250, 162, 0) ;
    border-radius:5px;
    transition:all .2s;
    outline:none;
}
.add-basket-btn:hover {
    background-color:#f27a1a;
    border: 1px solid transparent;
    color:white;
}

.basket-section {
    position: fixed;
    width:20%;
    height:100%;
    background-color:rgb(242, 215, 158);
    box-shadow: 0 0 10px rgb(88, 86, 86);
    top:0;
    right:0;
    visibility:hidden;
    opacity:0;
    transition: all .4s;
    
}
.exit-basket {
    cursor:pointer;
    font-size:1.5em;
    position: absolute;
    right:25px;
    top:10px;
    transition: all .3s;
    user-select:none;
}
.exit-basket:hover {
    transform:scale(1.1)  translateY(-1px);
}
.my-basket-title {
    margin: 20px 0;
    text-align: center;
}
.basket-item{
    position: relative;
}
.basket-item-brand {
    font-size:12px;
    color:rgb(53, 51, 51);
}
.basket-item-name {
    font-size: 14px;
}
.basket-item-img{
    width:30px;
    height:30px;
}
.basket-body {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top:10px;
    height:400px;
    margin-top:30%;
}
.basket-body .basket-item {
    padding:10px;
    margin: 10px;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(14, 14, 14);


}

.basket-items-info {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    padding:10px 0;
    border-bottom: 1px solid rgb(210, 202, 202);
}

.basket-total{
    padding:20px;
    border-bottom:1px solid rgba(227, 87, 40, 0.815);
    position: relative;
 
}
.total-number {
    position: absolute;
    right:10px;
    top:25px;
    font-size:2em;
    
}


.confirm-card-btn{
    cursor:pointer;
    margin: 10px 5px 10px 15px;
    padding:7px 90px;
    background-color:transparent;
    border:none;
    border:1px solid rgb(250, 162, 0) ;
    border-radius:5px;
    transition:all .2s;
    outline:none;
    position: absolute;
    bottom:20px;
}

.confirm-card-btn:hover{
    background-color:#f27a1a;
    border: 1px solid transparent;
    color:white;
}
.basket-plus , .basket-minus {
    background-color:transparent;
    border:none;
    cursor: pointer;
    padding:3px;
    border-radius:3px;
    border:1px solid white;
    transition: all .2s;

}
.basket-plus:hover , .basket-minus:hover {
    background-color:#f27a1a;
    color:white;
    box-shadow:  0 0 10px white;
} 
